.container{
    display: flex;
    height: 70Vh;
    gap: 10px;
    
}

.left{
    display: flex;
    width: 50px;
    flex-direction: column;
    gap: 3px;
    overflow-y: auto;
    padding: 10px;
}

.left::-webkit-scrollbar {
    width: 0px; 
  }

.right{
    width: 400px;
    overflow: hidden;
}

.right img{
    width: 400px;
}

.currentImage {
    background-color: rgba(0, 0, 0, 0.327); 
  }
  

.imgLeft{
    height: 50px;
    width: 50px;
    object-fit:contain;
    border-radius: 5px;
    cursor: pointer;
    
}



.arwRight{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 80%;
    right: 36%;
    border: 1px solid black;
    background-color: white;
    border: none;
    border-radius: 50%;
    font-weight: bold;
}
.arwLeft{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 80%;
    right: 38.5%;
    border: 1px solid black;
    background-color: white;
    border: none;
    border-radius: 50%;
    font-weight: bold;
}