/* Container styling */
.container {
    display: flex;
    height: 70vh;
    gap: 10px;
}

/* Left section styling */
.left {
    display: flex;
    width: 50px;
    flex-direction: column;
    gap: 3px;
    overflow-y: auto;
    padding: 10px;
}

.left::-webkit-scrollbar {
    width: 0px;
}

/* Right section styling */
.right {
    width: 400px;
    overflow: hidden;
}

.right img {
    width: 100%; /* Make images responsive */
    max-width: 400px; /* Maintain a maximum width */
}

/* Current image highlight */
.currentImage {
    background-color: rgba(0, 0, 0, 0.327);
}

/* Left images styling */
.imgLeft {
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 5px;
    cursor: pointer;
}

.arwRight {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 85%;
    right: 35%;
    border: none;
    background-color: white;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%); /* Center vertically */
    z-index: 10; /* Ensure it is above other elements */
}

/* Left arrow styling */
.arwLeft {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 85%;
    right: 38%;
    border: none;
    background-color: white;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%); /* Center vertically */
    z-index: 5; /* Ensure it is above other elements */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .left {
        flex-direction: row;
        width: 100%;
        height: 50px;
        padding: 5px;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .imgLeft {
        height: 40px;
        width: 40px;
        
    }
    .right {
        width: 100%;
    }
    .right img {
        max-width: 100%;
    }
    .arwRight  {
        top: 60%; /* Keep centered vertically */
       
        right: 5%;
       
    }

    .arwLeft{
        top: 60%; /* Keep centered vertically */
        transform: translateY(-50%);
        right: 10px;
        left: 10px;
    }
}

@media (max-width: 480px) {
    .left {
        gap: 2px;
    }
    .imgLeft {
        height: 30px;
        width: 30px;
    }
    .arwRight{
        top: 50%; /* Keep centered vertically */
        transform: translateY(-50%);
        top: 65%; /* Keep centered vertically */
        right: 15%;
    }

    .arwLeft {
        top: 65%; /* Keep centered vertically */
        left: 70%;
    }
}
